
.main-container {
    -fx-padding: 20px;
}

.top-container {
    -fx-spacing: 20px;
}

.bottom-container {
    -fx-spacing: 20px;
    -fx-padding: 10px;
}

.action-button {
    -fx-font-size: 14px;
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.action-button:hover {
    -fx-background-color: #0056b3;
}

.slider {
    -fx-padding: 5px 0;
}

.choice-box {
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
}

.label-text {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.bar-chart .chart-bar {
    -fx-bar-fill: #007bff;
}

.bar-chart .chart-bar:hover {
    -fx-bar-fill: #0056b3;
}

/* Custom Bar Chart Styles */
.bar-chart {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.chart-bar {
    -fx-bar-fill: #304ffe; /* A vibrant blue color */
}

.chart-bar:hover {
    -fx-bar-fill: #1e40ff; /* A slightly darker blue on hover */
}

.axis {
    -fx-tick-label-fill: #333; /* Dark gray color for the tick labels */
    -fx-tick-mark-visible: false; /* Hide tick marks */
}

.axis-label {
    -fx-text-fill: #333; /* Dark gray color for the axis labels */
    -fx-font-weight: bold; /* Make axis labels bold */
}